<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->

    <!-- 控制台 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--记录日志到文件-->
    <appender name="file-all" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>logs/console_log.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                {"请求唯一标识":'%X{请求唯一标识}',"客户端主机名":'%X{客户端主机名}',"客户端IP":'%X{客户端IP}',"访问URI":'%X{访问URI}',"访问URL":'%X{访问URL}',"请求方式":'%X{请求方式}',"节点IP":'%X{节点IP}',"日志时间":'%d{yyyy-MM-dd
                HH:mm:ss.SSS}',"日志等级":'%-5level',"日志类名":'%logger{50}',"日志内容":'%msg'}%n
            </pattern>
        </encoder>
    </appender>


    <!-- Service 日志 -->
    <appender name="logService" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/logService/logService-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>60</maxHistory>
            <maxFileSize>20MB</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>{"日志时间":'%d{yyyy-MM-dd HH:mm:ss.SSS}',"日志等级":'%-5level',"日志类名":'%logger{50}',"日志内容":%msg}%n
            </pattern>
        </encoder>
    </appender>

    <!-- Controller 日志 -->
    <appender name="logController" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/logController/logController-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>60</maxHistory>
            <maxFileSize>20MB</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>{"日志时间":'%d{yyyy-MM-dd HH:mm:ss.SSS}',"日志等级":'%-5level',"日志类名":'%logger{50}',"日志内容":%msg}%n
            </pattern>
        </encoder>
    </appender>


    <logger name="com.sky.lli.config.aspect.LogAspectController" level="INFO">
        <appender-ref ref="logController"/>
    </logger>

    <logger name="com.sky.lli.config.aspect.LogAspectService" level="INFO">
        <appender-ref ref="logService"/>
    </logger>

    <logger name="com.sky.lli.dao" level="debug" additivity="false">
        <appender-ref ref="file-all"/>
        <appender-ref ref="console"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="file-all"/>
    </root>

</configuration>